mat-card{
    margin: 2px;
}
button{
    
    margin: 2px;
}
th{
    background-color: rgb(7, 7, 83)!important;
    color: white;
}
.edit{
    background-color: blue!important;
    color: white!important;
}
.delete{
    background-color: red!important;
    color: white!important;
}
.view{
    background-color: green!important;
    color: white!important;
}